template
  require(from='client/app/blur-image')
  section.au-animate
    h2 ${heading}
    .row.au-stagger
      .col-sm-6.col-md-3.card-container.au-animate(repeat.for='user of users')
        .card
          canvas.header-bg(width='250', height='70', blur-image.bind='image')
          .avatar
            img(src.bind='user.avatar_url', crossorigin='', ref='image')
          .content
            p.name ${user.login}
            p
              a.btn.btn-default(target='_blank', href.bind='user.html_url') Contact
